---
http_interactions:
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/gitlab_user%2fgitlab_repo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      PRIVATE-TOKEN:
      - SECRET_TOKEN
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      etag:
      - W/"0e670d91c729a963bfeb10c0f98c3cfe"
    body:
      encoding: UTF-8
      string: '{"id":1234}'
  recorded_at: Tue, 07 Feb 2017 23:31:52 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1234/repository/branches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      PRIVATE-TOKEN:
      - SECRET_TOKEN
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - application/json
      etag:
      - W/"b5db4742e03745caf391836215995f14"
    body:
      encoding: UTF-8
      string: '[{"name":"master"}]'
  recorded_at: Tue, 07 Feb 2017 23:31:52 GMT
- request:
    method: post
    uri: https://gitlab.com/api/v3/projects/1234/repository/branches
    body:
      encoding: UTF-8
      string: '{"branch_name":"test_branch","ref":"master"}'
    headers:
      Content-Type:
      - application/json
      PRIVATE-TOKEN:
      - SECRET_TOKEN
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json
      etag:
      - W/"774a285a1f374376b278a61d962fc424"
    body:
      encoding: UTF-8
      string: '{"name":"test_branch"}'
  recorded_at: Tue, 07 Feb 2017 23:31:54 GMT
- request:
    method: get
    uri: https://gitlab.com/api/v3/projects/1234/repository/files?file_path=test_file.html&ref=test_branch
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      PRIVATE-TOKEN:
      - SECRET_TOKEN
  response:
    status:
      code: 404
      message:
    headers:
      content-type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"message":"404 File Not Found"}'
  recorded_at: Tue, 07 Feb 2017 23:31:55 GMT
- request:
    method: post
    uri: https://gitlab.com/api/v3/projects/1234/repository/files
    body:
      encoding: UTF-8
      string: '{"file_path":"test_file.html","commit_message":"Automated Let''s Encrypt
        renewal","branch_name":"test_branch","content":"<CONTENT>"}'
    headers:
      Content-Type:
      - application/json
      PRIVATE-TOKEN:
      - SECRET_TOKEN
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json
      etag:
      - W/"03582b5874b2395818c11423a79d16ca"
    body:
      encoding: UTF-8
      string: '{"file_path":"test_file.html","branch_name":"test_branch"}'
  recorded_at: Tue, 07 Feb 2017 23:31:57 GMT
recorded_with: VCR 3.0.3
